<%= form_for(@translation) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Language %><br />
    <%= f.text_field :Language %>
  </div>
  <div class="field">
    <%= f.label :RemoteTable %><br />
    <%= f.text_field :RemoteTable %>
  </div>
  <div class="field">
    <%= f.label :RemoteID %><br />
    <%= f.text_field :RemoteID %>
  </div>
  <div class="field">
    <%= f.label :RemoteColumnName %><br />
    <%= f.text_field :RemoteColumnName %>
  </div>
  <div class="field">
    <%= f.label :TranslatedContent %><br />
    <%= f.text_area :TranslatedContent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
