<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @translation.Language %>
</p>

<p>
  <b>Remotetable:</b>
  <%= @translation.RemoteTable %>
</p>

<p>
  <b>Remoteid:</b>
  <%= @translation.RemoteID %>
</p>

<p>
  <b>Remotecolumnname:</b>
  <%= @translation.RemoteColumnName %>
</p>

<p>
  <b>Translatedcontent:</b>
  <%= @translation.TranslatedContent %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
