- content_for :title, 'Gallery: ' + @loan.name
- fluid = @embedded ? '-fluid' : ''

%div{class: "container#{fluid} loans gallery"}
  .back_link
    = link_to (@embedded ? embedded_loan_path(@loan) : @loan) do
      %i.icon-chevron-left>
    = link_to (@embedded ? embedded_loan_path(@loan) : @loan) do
      Back to #{@loan.name}
  
  %div
    %h1.page_title Media Gallery

  - if (@coop_media + @loan_media + @log_media).empty?
    .empty
      No media found.
  - else
    #links
      - unless @coop_media.empty?
        %h1.section_title Images of #{@loan.cooperative.verbose_name}
        -# = render @coop_media, locals: {alt: @loan.cooperative.name}
        = render partial: "media/gallery", locals: {media: @coop_media, alt: @loan.cooperative.name}

      - unless @loan_media.empty? and @log_media.empty?
        %h1.section_title Images from this project
        = render partial: "media/gallery", locals: {media: @loan_media, alt: @loan.name}
        = render partial: "media/gallery", locals: {media: @log_media, alt: @loan.name}

-# required for blueimp-gallery
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %ol.indicator

-# required for blueimp-gallery
= javascript_include_tag "js/blueimp-gallery"
:javascript
  document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
      link = target.src ? target.parentNode : target,
      options = {index: link, event: event},
      links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
