<% content_for :title, "Loans" %>
<style>
  .lend_item_group{background: #fff;}
  .loans{background: #fff; clear:both;}
  .loans_type{font-size: medium; color: #444; margin-left: 16px; font-weight: bold;}
  .loans_items{}
  .coop_pic_sm{width: 80px; height: 80px; float: left; margin-left: 10px; margin-right: 5px;}
  .coop_name {font-weight: bold; color: #444; font-size: 14px;}
  .desc{color: #333; font-size: 13px; width: 610px; }
  .facts { }
  .loan_item{ }
  .loan_info{color: #333; font-size: 11.6px; text-transform: none; margin-bottom: -15px;}
  .loan_status{color: #333; font-size: 11.6px; text-transform: none;}
  .payment_status{color: orange;}
  .lend_btn{float: right; margin-right: 10px;}
  .loan_list_container { clear: both; background: #efefef; border: 1px solid #444;}
</style>


<h1 class="title">Loans</h1>
<div class="row span_12">
  <table class="table table-condensed">
    <% @loan_list.each do |loan| %>
    <tr class="loans_items"><!-- start lend item from loans list.-->
      <td class="loan_item">
        <% if loan.main_picture %>
          <%= link_to loan do %>
            <img class="coop_pic_sm img-polaroid" src="<%= loan.main_picture[:thumb] %>" 
              alt="Project with <%=loan.Cooperative.Name%>">
          <% end %>
        <% end %>
      </td>
      <td>
        <p class="coop_name"><%= link_to "Project with #{loan.Cooperative.Name}", loan %></p>
        <p class="desc"><%= loan.get_short_description %></p>
      </td>
      <td> 
        <div class="facts">
          <%= loan.SigningDate.to_s(:long) %><br>
          <%= loan.amount_formatted %><br>
          <p class="lend_btn"><button class="btn btn-mini" type="button">Add Loan</button></p>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-thumbs-up"></i></a>
            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-heart"></i></a>
            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
          </div>
        </div>
      </td>
    </tr><!-- end lend item from loans list.-->
    <% end %>
  </table>
</div><!-- /.row -->
