<% content_for :title, "Loans" %>

<div class="container">
  <div class="row span_12 loans">
    <h1 class="section-title">Loans</h1>
    <div class="filters">
      <%= form_tag({}, {:method => "get"}) do %>
        <!-- <%= hidden_field_tag(:status, params[:status]) if params[:status] && params[:status] != 'active' %> -->
        <div class="show">
          <ul class="nav nav-pills">
            <li class="disabled"><a href="#">Show:</a></li>
            <li class="<%= 'active' if params[:status]=='active' %>"><%= link_to "Active", params.merge(status: nil) %></li>
            <li class="<%= 'active' if params[:status]=='completed' %>"><%= link_to "Completed", params.merge(status: 'completed') %></li>
            <li class="<%= 'active' if params[:status]=='all' %>"><%= link_to "All", params.merge(status: 'all') %></li>
          </ul>
        </div>
        <div class="country">
          <div><%= label_tag(:country, "Country: ") %></div>
          <div>
            <%= select_tag(:country, options_for_select([['All', 'all']] + @countries, params[:country]), :onchange => "this.form.submit()") %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @loans.empty? %>
      <b class="empty">No loans found.</b>
    <% else %>
      <table class="table loan_list_wrap table-bordered">
        <% @loans.each do |loan| %>
        <tr class="loans_items well loan_list_item_wrap" style="opacity: 0.9;"><!-- start lend item from loans list.-->
          <td class="loan_item thum_holder">
            <% if loan.main_picture %>
              <%= link_to loan do %>
                <img class="coop_pic_sm img-rounded" src="<%= loan.main_picture[:thumb] %>" 
                  alt="<%=loan.name%>">
              <% end %>
            <% end %>
          </td>
          <td>
            <h5 class="coop_name"><%= link_to loan.name, loan %></h5>
            <p class="about_coop"><%= loan.get_short_description %><br/>
            <a class="detail_link pull-right" href="#">More Details</a>
            </p>
          </td>
          <td> 
            <p class="facts">
              <span class="sign_date"><%= loan.SigningDate ? loan.SigningDate.to_s(:long) : '' %></span><br/>
              <span class="loan_ammount"><%= loan.amount_formatted %></span><br/>
              <p class="progress  progress-danger" style="background:#444;">  
                <span class="bar" data-percentage="75" style="width: 75%;"></span>  
              </p>  
              <p><button class="lend_btn btn" type="button">Add Loan</button></p>
            </p> 
          </td>
        </tr><!-- end lend item from loans list.-->
        <% end %>
      </table>
    <% end %>
    
    <%= will_paginate @loans, :renderer => BootstrapPagination::Rails %>
  </div><!-- /.row -->
</div><!-- /.container -->