<% content_for :title, "Loans" %>
<% fluid = @embedded ? '-fluid' : '' %>

<div class="container<%=fluid%> loans">
  <% unless @embedded %><h1 class="section_title">Loans</h1><% end %>
  <div class="row<%=fluid%> filters">
    <div class="span12">
      <%= form_tag({}, {:method => "get"}) do %>
        <div class="show">
          <ul class="nav nav-pills">
            <li class="disabled"><a href="#">Show:</a></li>
            <li class="<%= 'active' if params[:status]=='active' %>">
              <%= link_to "Active", params.merge(status: nil, pg: nil) %></li>
            <li class="<%= 'active' if params[:status]=='completed' %>">
              <%= link_to "Completed", params.merge(status: 'completed', pg: nil) %></li>
            <li class="<%= 'active' if params[:status]=='all' %>">
              <%= link_to "All", params.merge(status: 'all', pg: nil) %></li>
          </ul>
        </div>
        <div class="country">
          <div><%= label_tag(:country, "Country: ") %></div>
          <div>
            <%= select_tag(:country, options_for_select([['All', 'all']] + @countries, params[:country]), 
              :onchange => "this.form.submit()") %>
          </div>
        </div>
      <% end %>
    </div><!-- /.span12 -->
  </div><!-- /.filters -->
  <div class="row<%=fluid%>">
    <% if @loans.empty? %>
      <div class="span12 empty">No loans found.</div>
    <% else %>
      <div class="span12 loans">
        <table class="table loan_list_wrap table-bordered no-more-tables">
          <% @loans.each do |loan| %>
          <tr class="loans_items well loan_list_item_wrap" style="opacity: 0.9;"><!-- start lend item from loans list.-->
            <td class="loan_item_thumb">
              <a href="<%= url_for %>/<%= loan.id %>">
                <div class="coop_pic_sm" style="background-image: url('<%= loan.thumb_path %>');"></div>
              </a>
            </td>
            <td class="loan_item_desc">
              <h5 class="coop_name"><a href="<%= url_for %>/<%= loan.id %>"><%= loan.name %></a></h5>
              <p class="about_coop"><%= render loan.short_description(@language) %></p>
              <p class="detail_link pull-right">
                <a href="<%= url_for %>/<%= loan.id %>">More details<i class="icon-chevron-right"></i></a>
              </p>
            </td>
            <td class="facts loan_item_facts"> 
              <div class="location"><i class="icon-map-marker"></i> <%= loan.location %>
              <div class="sign_date"><i class="icon-calendar"></i> <%= loan.SigningDate ? loan.SigningDate.to_s(:long) : '' %></div>
              <div class="loan_amount"><i class="icon-coinstack"></i> <%= loan.amount_formatted %></div>
              <!--
              <p class="progress  progress-danger" style="background:#444;">  
                <span class="bar" data-percentage="75" style="width: 75%;"></span>  
              </p>  
              <p><button class="lend_btn btn" type="button">Add Loan</button></p>
              -->
            </td>
          </tr><!-- end lend item from loans list.-->
          <% end %>
        </table>
      </div>
    <% end %>
    
    <%= will_paginate @loans, param_name: 'pg', renderer: BootstrapPagination::Rails %>
  </div><!-- /.row -->
</div><!-- /.container -->
