<% content_for :title, "Loans" %>

<% content_for :head do %>
<style>
  .lend_item_group{background: #fff;}
  .loans{background: #fff; clear:both;}
  .loans_type{font-size: medium; color: #444; margin-left: 16px; font-weight: bold;}
  .loans_items{}
  .coop_pic_sm{width: 90px; height: 90px; float: left; margin-left: 10px; margin-right: 5px; margin-top:9px;}
  .coop_name {font-weight: bold; color: #444; font-size: 16px; font-weight: 500;}
  .desc{color: #333; font-size: 14px; font-weight:normal; width: 610px; }
  .facts { }
  .loan_item{ }
  .loan_info{color: #333; font-size: 11.6px; text-transform: none; margin-bottom: -15px;}
  .loan_status{color: #333; font-size: 11.6px; text-transform: none;}
  .payment_status{color: orange;}
  .lend_btn{float: right; margin-right: 10px; margin-top; -3px;}
  .loan_list_container { clear: both; background: #efefef; border: 1px solid #444;}
  .section-title{margin-left: 10px; font-size: 23px; font-weight: 400; text-transform: uppercase; color: #444;}
  .table td, .table th { border: none;}
  .loans{margin-top: 20px; background: transparent;}
  .pagination {text-align: center;}
  .filters div {float: left;}
  .filters .country {float: right;}
  .filters .country label {margin: 6px;}
</style>
<% end %>

<div class="container">
  <div class="row span_12 loans">
    <h1 class="section-title">Loans</h1>
    <div class="filters">
      <%= form_tag({}, {:method => "get"}) do %>
        <!-- <%= hidden_field_tag(:status, params[:status]) if params[:status] && params[:status] != 'active' %> -->
        <div class="show">
          <ul class="nav nav-pills">
            <li class="disabled"><a href="#">Show:</a></li>
            <li class="<%= 'active' if params[:status]=='active' %>"><%= link_to "Active", params.merge(status: nil) %></li>
            <li class="<%= 'active' if params[:status]=='completed' %>"><%= link_to "Completed", params.merge(status: 'completed') %></li>
            <li class="<%= 'active' if params[:status]=='all' %>"><%= link_to "All", params.merge(status: 'all') %></li>
          </ul>
        </div>
        <div class="country">
          <div><%= label_tag(:country, "Country: ") %></div>
          <div>
            <%= select_tag(:country, options_for_select([['All', 'all']] + @countries, params[:country]), :onchange => "this.form.submit()") %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @loans.empty? %>
      <b class="empty">No loans found.</b>
    <% else %>
      <table class="table">
        <% @loans.each do |loan| %>
        <tr class="loans_items well" style="opacity: 0.8;"><!-- start lend item from loans list.-->
          <td class="loan_item">
            <% if loan.main_picture %>
              <%= link_to loan do %>
                <img class="coop_pic_sm img-polaroid" src="<%= loan.main_picture[:thumb] %>" 
                  alt="<%=loan.name%>">
              <% end %>
            <% end %>
          </td>
          <td>
            <p class="coop_name"><%= link_to loan.name, loan %></p>
            <p class="desc"><%= loan.get_short_description %></p>
          </td>
          <td> 
            <div class="facts">
              <p><%= loan.SigningDate ? loan.SigningDate.to_s(:long) : '' %></p>
              <p><%= loan.amount_formatted %></p>
              <p class="progress  progress-danger" style="background:#444;">  
                <span class="bar" data-percentage="75" style="width: 75%;"></span>  
              </p>  
              <p><button class="lend_btn btn" type="button" style="margin-top: -8px;">Add Loan</button></p>
            </div> 
          </td>
        </tr><!-- end lend item from loans list.-->
        <% end %>
      </table>
    <% end %>
    
    <%= will_paginate @loans, :renderer => BootstrapPagination::Rails %>
  </div><!-- /.row -->
</div><!-- /.container -->