<h1>Listing loans</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Rate</th>
    <th>Nivel</th>
    <th>Cooperative</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.Amount %></td>
    <td><%= loan.Rate %></td>
    <td><%= loan.Nivel %></td>
    <td><%= loan.Cooperative ? loan.Cooperative.Name : nil %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
