<% content_for :title, "Loans" %>
<style>
  .lend_item_group{background: #fff;}
  .loans{background: #fff; clear:both;}
  .loans_type{font-size: medium; color: #444; margin-left: 16px; font-weight: bold;}
  .loans_items{}
  .coop_pic_sm{width: 90px; height: 90px; float: left; margin-left: 10px; margin-right: 5px;}
  .coop_name {font-weight: bold; color: #444; font-size: 14px;}
  .desc{color: #333; font-size: 13px; width: 610px; }
  .facts { }
  .loan_item{ }
  .loan_info{color: #333; font-size: 11.6px; text-transform: none; margin-bottom: -15px;}
  .loan_status{color: #333; font-size: 11.6px; text-transform: none;}
  .payment_status{color: orange;}
  .lend_btn{float: right; margin-right: 10px;}
  .loan_list_container { clear: both; background: #efefef; border: 1px solid #444;}
  .section-title{margin-left: 25px; font-size: 23px; font-weight: 400; text-transform: uppercase; color: #444;}
  .table td, .table th { border: none;}
  .loans{margin-top: 20px; background: transparent;}

</style>



<div class="row span_12 loans">
<h1 class="section-title">Loans</h1>
  <table class="table">
    <% @loan_list.each do |loan| %>
    <tr class="loans_items"><!-- start lend item from loans list.-->
      <td class="loan_item">
        <% if loan.main_picture %>
          <%= link_to loan do %>
            <img class="coop_pic_sm img-polaroid" src="<%= loan.main_picture[:thumb] %>" 
              alt="Project with <%=loan.Cooperative.Name%>">
          <% end %>
        <% end %>
      </td>
      <td>
        <p class="coop_name"><%= link_to "Project with #{loan.Cooperative.Name}", loan %></p>
        <p class="desc"><%= loan.get_short_description %></p>
      </td>
      <td> 
        <div class="facts">
          <p><%= loan.SigningDate.to_s(:long) %></p>
          <p><%= loan.amount_formatted %></p>
           <p class="progress bar"></p>
          <p class="lend_btn"><button class="btn" type="button">Add Loan</button></p>
        </div>
        
      </td>
    </tr><!-- end lend item from loans list.-->
    <% end %>
  </table>
</div><!-- /.row -->
