<% content_for :title, @loan.name %>

<div class="pull-right"><a class="btn btn-link" href="<% url_for loans_path %>">&lt; Back to Loan List</a></div>
<div class="span7">
      <div class="row">
<h1><%= @loan.name %></h1>

<% if @loan.picture_paths %>
  <div class="picture img-polaroid">
    <img src="<%= @loan.picture_paths[:medium] %>" alt="<%= @loan.name %>"  height="199" width="300" />
  </div>
<% end %>
<div class="short_description">
  <%= @loan.get_short_description %>
</div>
<div class="description">
  <h3>Details</h3>
  <%= @loan.get_description || '<span style="font-style:italic;" class="notfound">No description found.</span>' %>
</div>
<div class="lend">
  <a class="button lend_button btn" href="<%= url_for '#' %>">Lend</a>
</div>
 </div><!-- /.row -->
  </div><!-- /.span7 -->

<div class="loan_calendar span5">
<div class="row">
  <h3>Calendar</h3>
  <ul class="nav nav-tabs">
    <% @loan.project_events.each do |paso| %>
    <li class="paso active <%= paso.completed_or_not %>">
      <%= paso.date %>: <%= paso.summary %>
      <% if paso.Completed %>
      (Completed <%= paso.Completed %>)
      <% else %>
      (Not yet completed)
      <% end %>
      <% unless paso.Details.blank? %><br>Details: <%= paso.Details %><% end %>
      <ul>
        <% paso.logs.each do |log| %>
        <li class="log <%= log.Progress.parameterize.underscore %>">
          Log <%= log.date %>: <%= log.explanation %>
          <ul>
            <li>Progress: <%= log.Progress %></li>
            <% unless log.detailed_explanation.blank? %><li>Details: <%= log.detailed_explanation %></li><% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

    </div><!-- /.row -->
  </div><!-- /.span5 -->
