<% content_for :title, @loan.name %>

<% content_for :head do %>
<style>
  .picture { height: 400px; margin: auto; }
  .detail_wrap{background: #f9f9f9; border-top: 1px solid #E9ECE4; padding:6px;}
  .detail_gutter{margin-left: 15px;}
</style>

<script>
  $(function () {
    // Initiate tabs
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    $('.nav-tabs a:first').tab('show'); // Select first tab
    
    // Initiate slideshow
    $('.carousel-inner .item').first().addClass('active')
    $('.carousel-indicators li').first().addClass('active')
    $('.carousel').carousel('cycle')
  })
</script>
<% end #content_for %>

<div class="pull-right"><a class="btn btn" href="<% url_for loans_path %>">&lt; Back to Loan List</a></div>

<div class="span12 container">
  <div class="row">
    <div class="span7">
      <div class="row">
        <div class="detail_wrap">
          <h1 class="detail_gutter"><%= @loan.name %></h1>

          <% if @pictures %>
            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <% for i in (0..(@pictures.count-1)) do %>
                  <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
                <% end %>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">
                <% @pictures.each do |path| %>
                  <div class="item">
                    <img class="img-polaroid picture" src="<%= path[:large] %>" alt="<%= @loan.name %>">
                  </div>
                <% end %>
              </div>

              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div> <!-- /carousel -->
          <% end #if @pictures %>
          
          <div class="short_description">
            <br>
            <p class="detail_gutter"><%= @loan.get_short_description %></p>
            <br>
          </div>

          <div class="description">
            <h3 class="detail_gutter">Details</h3>
            <p class="copy_front_low detail_gutter">
              <%= @loan.get_description || '<span style="font-style:italic;" class="notfound">No description found.</span>' %>
            </p>
          </div>
          
          <div class="lend">
            <a class="button lend_button btn pull-right" href="<%= url_for '#' %>">Lend</a><br/><br/>

          </div>
        </div>

        <hr/>

      </div><!-- /.row -->
    </div><!-- /.span7 -->

    <div class="loan_calendar span5">
      <div class="row pull-right">
        <ul class="nav nav-tabs">
          <li><a href="#summary" data-toggle="tab">Summary</a></li>
          <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
          <li><a href="#loanList" data-toggle="tab">Other Loans</a></li>
          <!-- <li><a href="<%= url_for @loan %>/photos">Photos</a></li> -->
        </ul>
        <div id="about_loan" class="tab-content">
          <div class="tab-pane active" id="summary">
            Summary
          </div>

          <div class="tab-pane" id="calendar">
            <h3>Calendar</h3>
            <ul class="calendar">
              <% @loan.project_events.each do |paso| %>
              <li class="paso active <%= paso.completed_or_not %>">
                <%= paso.date %>: <%= paso.summary %>
                <% if paso.Completed %>
                (Completed <%= paso.Completed %>)
                <% else %>
                (Not yet completed)
                <% end %>
                <% unless paso.Details.blank? %><br>Details: <%= paso.Details %><% end %>
                <ul>
                  <% paso.logs.each do |log| %>
                  <li class="log <%= log.Progress.parameterize.underscore %>">
                    Log <%= log.date %>: <%= log.explanation %>
                    <ul>
                      <li>Progress: <%= log.Progress %></li>
                      <% unless log.detailed_explanation.blank? %><li>Details: <%= log.detailed_explanation %></li><% end %>
                    </ul>
                  </li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            </ul>
          </div>
          
          <div class="tab-pane" id="loanList">
            Other Loans to this Co-op
          </div>

        </div>
      </div><!-- /.row -->
    </div><!-- /.span5 -->
  </div><!-- /.row -->
</div><!-- /.span12 -->

