<% content_for :title, @loan.name %>

<% content_for :head do %>

<script>
  $(function () {
    $('.nav-tabs a:first').tab('show'); // Select first tab
    
    // Initiate slideshow
    $('.carousel-inner .item').first().addClass('active')
    $('.carousel-indicators li').first().addClass('active')
    $('.carousel').carousel('cycle')
  })
</script>
<% end #content_for %>

<div class="pull-right"><a class="btn btn" href="<% url_for loans_path %>">&lt; Back to Loan List</a></div>

<div class="container">
  <div class="span12 container detail_page">
    <div class="row">
      <div class="span7">
        <div class="row">
         <p class="language pull-right"><a href="#">English</a>/<a href="#">Spanish</a></p>
          <div class="detail_wrap row">
            <h1 class="section-title"><%= @loan.name %></h1>
           
           
            <% if @pictures %>
              <div id="myCarousel" class="carousel slide">
                <% if @pictures.count > 1 %>
                  <ol class="carousel-indicators">
                    <% for i in (0..(@pictures.count-1)) do %>
                      <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
                    <% end %>
                  </ol>
                <% end %>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @pictures.each do |path| %>
                    <div class="item">
                      <img class="img-polaroid picture" src="<%= path[:large] %>" alt="<%= @loan.name %>">
                    </div>
                  <% end %>
                </div>

                <!-- Carousel nav -->
                <% if @pictures.count > 1 %>
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                <% end %>
              </div> <!-- /carousel -->
            <% end #if @pictures %>
          
            <div class="short_description">
              <br>
              <p class="detail_gutter"><%= @loan.get_short_description %></p>
              <br>
            </div>

            <div class="description">
              <h3 class="section-title">About this Coop</h3>
              <p class="copy_front_low detail_gutter">
                <%= @loan.get_description || '<span style="font-style:italic;" class="notfound">No description found.</span>' %>
              </p>
            </div>
         
            <div class="lend">
              <a class="button lend_button btn pull-right" href="<%= url_for '#' %>">Lend</a><br/><br/>

            </div>
          </div>

        </div><!-- /.row -->
      </div><!-- /.span7 -->

      <div class="loan_calendar span5 detail_page">
        <div class="row pull-right">
          <ul class="nav nav-tabs">
            <li><a href="#summary" data-toggle="tab">Summary</a></li>
            <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
            <li><a href="#loanList" data-toggle="tab">Past Loans</a></li>
            <!-- <li><a href="<%= url_for @loan %>/photos">Photos</a></li> -->
          </ul>
          <div id="about_loan" class="tab-content">

            <div class="tab-pane active" id="summary">
              <p class="detail_gutter short_description update-box update-box-color"><%= @loan.get_short_description %></p>
            </div>

            <div class="tab-pane" id="loanList">
              <table class="table">
                <tr class="success">
                  <td>1</td>
                  <td>Chilavert Artes Gráficas</td>
                  <td>May 23, 2011</td>
                  <td>AR$7,236</td>
                  <td>On Time</td>
                </tr>
                <tr class="success">
                  <td>2</td>
                  <td>Chilavert Artes Gráficas</td>
                  <td>March 10, 2011</td>
                  <td>AR$13,236</td>
                  <td>On Time</td>
                </tr>
              </table>
            </div>

            <div class="tab-pane" id="timeline">
              <ul class="calendar">
                <% @loan.project_events.each do |paso| %>
                <li class="paso active <%= paso.completed_or_not %>">
                  <%= paso.date %>: <%= paso.summary %>
                  <% if paso.Completed %>
                  (Completed <%= paso.Completed %>)
                  <% else %>
                  (Not yet completed)
                  <% end %>
                  <% unless paso.Details.blank? %><br>Details: <%= paso.Details %><% end %>
                  <ul>
                    <% paso.logs.each do |log| %>
                    <li class="log <%= log.Progress.parameterize.underscore %>">
                      Log <%= log.date %>: <%= log.explanation %>
                      <ul>
                        <li>Progress: <%= log.Progress %></li>
                        <% unless log.detailed_explanation.blank? %><li>Details: <%= log.detailed_explanation %></li><% end %>
                      </ul>
                    </li>
                    <% end %>
                  </ul>
                </li>
                <% end %>
              </ul>
            </div>
          
            <div class="tab-pane" id="loanList">
              Other Loans to this Co-op
            </div>

          </div>
        </div><!-- /.row -->
      </div><!-- /.span5 -->
    </div><!-- /.row -->
  </div><!-- /.span12 -->
</div><!-- /.container -->
