<% content_for :title, @loan.name %>
<% fluid = @embedded ? '-fluid' : '' %>

<div class="container<%=fluid%> loans detail_page">
  <div class="row<%=fluid%>">
    <div class="span7">
      <div class="back_link pull-left">
        <a href="<%= url_for (@embedded ? embedded_loans_path : loans_path) %>">
          <i class="icon-chevron-left"></i></a> 
        <% # This a tag is repeated here so that the space doesn't get underlined on hover %>
        <a href="<%= url_for (@embedded ? embedded_loans_path : loans_path) %>">
          Back to Loan List</a>
      </div>
      <!-- 
      <div class="btn-group pull-right" data-toggle="buttons-radio">
        <button type="button" class="btn">English</button>
        <button type="button" class="btn">Spanish</button>
      </div>
      -->
    </div>
  </div><!-- /.row -->
  
  <div class="row<%=fluid%>">
    <div class="span7 main_content">
      <div class="detail_wrap">
        <h1 class="section-title"><%= @loan.name %></h1>
       
        <% if @pictures %>
          <div id="myCarousel" class="carousel slide">
            <% if @pictures.count > 1 %>
              <ol class="carousel-indicators">
                <% for i in (0..(@pictures.count-1)) do %>
                  <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
                <% end %>
              </ol>
            <% end %>

            <!-- Carousel items -->
            <!-- <a href="<%= url_for %>/gallery"> -->
              <div class="carousel-inner">
                <% @pictures.each do |path| %>
                  <div class="item picture" style="background-image: url(<%= path[:large] %>);"></div>
                <% end %>
              </div>
            <!-- </a> -->

            <!-- Carousel nav -->
            <% if @pictures.count > 1 %>
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            <% end %>
          </div> <!-- /carousel -->
        <% end #if @pictures %>

        <!--
        <div class="lend">
          <a class="button lend_button pull-right" href="<%= url_for '#' %>"></a><br/><br/>
        </div>
        <h5 class="coop_name">Current Report</h5> 
        -->
        <div class="update-box update-box-color">
          <div class="info">Status: <%= @loan.status %> &nbsp;
          <i class="icon-coinstack"></i> <%= @loan.amount_formatted %> &nbsp;
          <i class="icon-map-marker"></i> <%= @loan.location %> &nbsp;
          <i class="icon-calendar"></i>  <%= @loan.signing_date_pretty %> &nbsp;
          </div>
          <div class="short_description"><%= render @loan.short_description(@language) %></div>
        </div><!--end .update-box -->
        
        <div class="loan-feed-block">
        <ul class="timeline loan-feed clearfix">
          <% @loan.project_events.each do |paso| %>
            <li class="paso active clearfix <%= paso.completed_or_not %>"><br />
              <div class="paso_short_desc well clearfix">
                <i class=" icon-large icon-user"></i> <span class="paso-summary">
                  <%= render paso.summary(@language) %></span> 
                <span class="paso-date"><i class="icon-calendar"></i> <strong><%= paso.display_date %></strong></span><br />
                <span class="paso-status"><%= paso.status %></span>
                <% unless paso.logs.empty? %>
                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#logs-<%=paso.id %>">Logs &#8659;</button>
                <% end %>
                <% if paso.completed %>
                <p class="paso_completed"><%= paso.completed %></p>
              <% else %>
                <p class="paso_not_completed"><br /><strong class="not-completed"><i class="icon-bell"> </i>Not yet completed</strong></p>
              <% end %>
              <% unless paso.details(@language).try(:content).blank? %>
                <br><strong>Details:</strong> <%= render paso.details(@language) %>
              <% end %>
                <div id="logs-<%=paso.id %>" class="collapse">
                <ul class="logs-items">
                <% paso.logs.each do |log| %>
                  <li class="log logs-body  <%= log.progress.parameterize.underscore %>"> 
                  <li><strong class="log-date">Log Date<br /><strong class="log-date"></strong><i class="icon-calendar"> </i><%= log.date %></strong> <strong class="log-progress">Progress: <%= log.progress %></strong> </li>
                    <p class="log-inner"><i class="icon-adjust"></i> <%= render log.explanation(@language) %></p><br /> <br /></li>
                <% end %>
              </ul> 
              </div><!--end of .paso_short_desc .well .clearfix-->
              
            </li>
          <% end %>
          </div><!--end of #show-logs-->
        </ul>   
                
              
        </div><!-- /.loan-feed-block -->
    </div><!-- /.span7.main_content -->
  
    <div class="span5 sidebar pull-right">
      <ul class="nav nav-tabs">
        <li><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#contracts" data-toggle="tab">Contracts</a></li>
        <li><a href="#other_loans" data-toggle="tab">Past Loans</a></li>
        <% unless @repayments.empty? %>
          <li><a href="#payments" data-toggle="tab">Payments</a></li>
        <% end %>
      </ul>
      
      <div id="about_loan" class="tab-content">
        <div class="tab-pane" id="summary">
          <h4 class="section-title">About This Project</h4>
          <div class="description_box well">
            <p class="loan_description detail_gutter">
              <%= # render translation using partial "translations/_translation.html.erb"
                render @loan.description(@language) || 
                # if translation doesn't exist:
                '<span class="notfound">No description found.</span>' %>
            </p>
          </div>
        </div>

        <div class="tab-pane" id="contracts">
          <h4>All Contracts for this Co-op</h4>
          <table>
            <tr>
              <td>Loan Name</td>
            </tr>
            <tr>
              <td>Loan Officer</td>
            </tr>
            <tr>
              <td>Loan Contract</td>
            </tr>
          </table>
        </div>

        <div class="tab-pane" id="other_loans">
          <% if !@other_loans || @other_loans.count <= 1 %>
            <p class="empty">This is the first loan to this cooperative.</p>
          <% else %>
            <h4>All Loans to this Co-op</h4>
            <table class="table other_loans" data-provides="rowlink">
              <% @other_loans.each do |loan| %>
                <tr class="<%= 'selected' if loan.id == @loan.id %>">
                  <td>
                    <% if loan.id == @loan.id %>
                      <%= loan.signing_date_pretty %>
                    <% else %>
                      <a class="rowlink" href="<%= url_for (@embedded ? embedded_loan_path(loan) : loan) %>#_other_loans">
                        <%= loan.signing_date_pretty %></a>
                    <% end %>
                  </td>
                  <td><%= loan.amount_formatted %></td>
                  <td><%= loan.status %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
        
        <% unless @repayments.empty? %>
          <div class="tab-pane" id="payments">
            <h4>Payment Schedule</h4>
            <table class="table repayments">
              <!-- <tr>
                <th>Status</th>
                <th>Amount</th>
              </tr> -->
              <% @repayments.each do |pmt| %>
                <tr class="<%= pmt.status %>">
                  <td><%= pmt.status_date %></td>
                  <td><%= pmt.amount_formatted %></td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>

      </div><!-- /#about_loan -->
    </div><!-- /.span5.sidebar -->
    
  </div><!-- /.row -->
</div><!-- /.container -->
