<% content_for :title, @loan.name %>

<style>
  .picture { height: 200px; max-width:300px;}
  .detail_wrap{background: #f9f9f9; border-top: 1px solid #E9ECE4; padding:6px;}
  .detail_gutter{margin-left: 15px;}
</style>
<script>
  $(function () {
    $('#calendar a:last').tab('show');
  })
</script>

<div class="pull-right"><a class="btn btn" href="<% url_for loans_path %>">&lt; Back to Loan List</a></div>
<div class="span12 container">
  <div class="row">
    <div class="span7">
      <div class="row">
        <div class="detail_wrap">
          <h1 class="detail_gutter"><%= @loan.name %></h1>

          <% if @pictures %>
            <% @pictures.each do |path| %>
              <p class="detail_gutter">
                <img class="img-polaroid picture" src="<%= path[:medium] %>" alt="<%= @loan.name %>">
              </p>
            <% end %>
          <% end %>

          <div class="short_description">
            <br>
            <p class="detail_gutter"><%= @loan.get_short_description %></p>
            <br>
          </div>

          <div class="description">
            <h3 class="detail_gutter">Details</h3>
            <p class="copy_front_low detail_gutter">
              <%= @loan.get_description || '<span style="font-style:italic;" class="notfound">No description found.</span>' %>
            </p>
          </div>
          
          <div class="lend">
            <a class="button lend_button btn pull-right" href="<%= url_for '#' %>">Lend</a><br/><br/>

          </div>
        </div>

        <hr/>

      </div><!-- /.row -->
    </div><!-- /.span7 -->

    <div class="loan_calendar span5">
      <div class="row pull-right">
        <ul class="nav nav-tabs">
          <li><a href="#summary" data-toggle="tab">Summary</a></li>
          <li><a href="#loanList" data-toggle="tab">Other Loans</a></li>
          <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
        </ul>
        <div id="about_loan" class="tab-content">
          <div class="tab-pane active" id="summary">Summary</div>

          <div class="tab-pane" id="loanList">
            Other Loans to this Co-op
          </div>

          <div class="tab-pane" id="calendar">
            <h3>Calendar</h3>
            <ul class="calendar">
              <% @loan.project_events.each do |paso| %>
              <li class="paso active <%= paso.completed_or_not %>">
                <%= paso.date %>: <%= paso.summary %>
                <% if paso.Completed %>
                (Completed <%= paso.Completed %>)
                <% else %>
                (Not yet completed)
                <% end %>
                <% unless paso.Details.blank? %><br>Details: <%= paso.Details %><% end %>
                <ul>
                  <% paso.logs.each do |log| %>
                  <li class="log <%= log.Progress.parameterize.underscore %>">
                    Log <%= log.date %>: <%= log.explanation %>
                    <ul>
                      <li>Progress: <%= log.Progress %></li>
                      <% unless log.detailed_explanation.blank? %><li>Details: <%= log.detailed_explanation %></li><% end %>
                    </ul>
                  </li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.span5 -->
  </div><!-- /.row -->
</div><!-- /.span12 -->

