<div class="container"> 
<div class="row">
<div class="span3">   
<h2 class="sub_heading">Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><p class="label"><%= f.label :email %></p>
  <p class="input"><%= f.email_field :email, :autofocus => true %></p></div>

  <div><p class="label"><%= f.label :password %></p>
  <p class="input"><%= f.password_field :password %></p></div>

  <% if devise_mapping.rememberable? -%>
    <div><p class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></p></div>
  <% end -%>

  <div><p class="pull-right"><%= f.submit "Sign in" %></p></div>
<% end %>

<p><%= render "devise/shared/links" %></p>
</div><!-- /.span3 -->
</div><!-- /.row -->
<div class="row">
<div class="span9"> 
</div><!-- /.span9 -->
</div><!-- /.row -->
</div>