<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title).blank? ? '' : yield(:title) + ' | ' %>The Working World : Cofunder</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= yield :head %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Cofunder</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a class="nav_link btn-link" href="#">What We Do</a></li>
            <li><a class="nav_link btn-link" href="#">Where We Work</a></li>
            <li><a class="loan_list nav_link btn-link" href="<%= url_for loans_path %>">Find Loans</a></li>
            <li><a class="btn sign_in pull-right" href="<%= url_for new_user_session_path %>">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar-inner -->
  </div><!--/.navbar navbar-inverse navbar-fixed-top -->

  <%= render 'alerts' %>

  <%= yield %>

  <!-- FOOTER -->
  <div class="container-fluid">
    <footer>
      <hr>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy;2013 The Working World, United States | <a href="#">Privacy</a> | <a href="#">Terms</a></p>
    </footer>
  </div>
</body>
</html>
