<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title).blank? ? '' : yield(:title) + ' | ' %>The Working World : Cofunder</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "embedded", :media => "all" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= yield :head %>
</head>

<body>
  <% if notice %>
    <p class="notice alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="icon-ok"></i><%= notice %>
    </p>
  <% end %>

  <% if alert %> 
    <p class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="icon-info-sign"></i><%= alert %>
    </p>
  <% end %>

  <%= yield %>
</body>
</html>
